.title {
  list-style-type: none;
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
}

.list {
  width: 400px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px;
  margin: 5px;
  float: left;
  overflow: hidden;
}

.list 

#errorMsg {
  color: gray;
  font-style: italic;
}
